@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Base reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Body base styles */
body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Oswald" !important;

  font-size: 16px;
  line-height: 1.5;

  color: #222;
  background-color: #fff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.1rem !important;
}
h5 {
  font-size: 1.3rem !important;
  font-weight: 600 !important;
  font-family: "Oswald";
}
::placeholder {
  color: #fff !important;
}
.organ_bg {
  background-image: url("./Assets/organ.png");
  background-size: 60% auto;
  background-position: center;
  background-repeat: no-repeat;
}
.essay-topic1,
.essay-topic4 {
  width: 28%;
  border: 1px solid #3636364d !important;
  padding: 0.9rem;
}
.essay-topic2,
.essay-topic3 {
  width: 68%;
  border: 1px solid #3636364d !important;
  padding: 0.9rem;
}
section {
  margin: 4rem 0;
}
.banner-logo {
  width: 4.5rem;
  margin: 1rem 0 0 2rem;
}
.brand-logo {
  width: 4.5rem;
}
.otp-logo {
  width: 4.5rem;
}
.input-field {
  background-color: transparent !important;
  color: #fff !important;
  width: 100% !important;
  padding: 0.375rem 2.8rem !important;
}
.registration-input-field {
  width: 50% !important;
}
.email {
  width: 1.8rem;
  top: 5px;
  left: 6px;
}
/* MAIN WRAPPER */
.banner-sec {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.left-sec {
  flex: 0 0 100%;
  margin-top: 1rem;
  position: relative;
  overflow: visible;
  padding: 3.9rem;
  color: #fff;
}

.left-sec::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("./Assets/leftBanner.png") no-repeat left center;

  background-size: 98% 100%;

  z-index: 0;
}
.readOnlyInput {
  color: #7f7f7f !important;
}
/* CONTENT */
.banner-content {
  max-width: 1000px;
  padding: 0.1rem;
  position: relative;
  z-index: 1;
}

/* PILL */
.banner-pill {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.15);
  margin-bottom: 1.5rem;
}

/* TITLE */
.banner-title {
  font-weight: 600;
  line-height: 1.7;
}

/* DIVIDER */
.divider {
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
  margin: 1.5rem 0;
}

/* HIGHLIGHT */
.highlight {
  color: #f9c313;
  font-family: Oswald, sans-serif;
}

/* FORM */

.email-input {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px;
  width: 260px;
}

.email-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.register-btn {
  background: #bdeeff;
  border: none;
  padding: 0.375rem 0.75rem;
  font-weight: 600;
  border-radius: 6px;
}
.dropdown-menu[data-bs-popper] {
  left: -15px !important;
}
.navbar-nav .dropdown-menu {
  position: absolute !important;
  left: -6rem !important;
}
/* RIGHT PANEL */

.right-sec {
  flex: 0 0 40%;
  /* position: relative; */
  overflow: visible;
}

.right-sec::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("./Assets/rightBanner.png") no-repeat right center;

  background-size: 45% 100%;
}

/* DEADLINE CARD */
.deadline-card {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  border-radius: 10px;
  font-family: Oswald;
}

.deadline-card h5 {
  font-size: 1.4rem !important;
  font-weight: 700 !important;
  font-family: "Oswald";
}
.lh-base,
.lh-lg {
  font-size: 1.3rem;
  font-weight: 700;
}
.deadline-card p {
  font-weight: 300;
  font-size: 1.5rem !important;
}

img.makers-logo {
  width: 14rem;
}

/* lll */

.sec-btn {
  background-color: #2d318f !important;
  color: #fff !important;
  height: 2.5rem;
}
.guidelines-cont {
  box-shadow: 0px 0px 25px 2px #0000001f;
}
.panel-body {
  top: 2rem;
  left: 0;
  right: 0;
}
.heading {
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Oswald";
}
img.prize {
  width: 7rem;
}
img.prize1 {
  width: 4rem;
}
.winner-stage {
  font-family: "Oswald";
  font-size: 1.1rem;
}
.winner-graph {
  min-height: 16rem;
  min-width: 8rem;
}
.winner-amount {
  font-size: 1.2rem !important;
  font-family: "Oswald";
}
.prize-amount {
  font-size: 1.9rem !important;
}
img.social-icon {
  width: 3rem;
}

.registration-panel {
  background-color: #2d318f;
  padding: 2rem 8rem;
}
img.rightRings {
  position: absolute;
  top: 0;
  right: 0;
  width: 8rem;
}
img.leftRings {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 8rem;
}
.about_text {
  font-size: 1.3rem !important;
}
.profileImg {
  width: 6rem;
}
.societies-sec {
  background-color: #f3f3f3;
}
/* footer */

.blueBg {
  background: linear-gradient(183.71deg, #c8e9f9 3.3%, #2d318f 472.55%);
}
.footer-logo {
  width: 12rem;
}

/* otp card */

.otp-card {
  width: 37%;
  border: 1px solid #949494;
  border-radius: 1rem;
  background-color: #f9f9f9;
}
.registration-cont {
  width: 60%;
}
.registration-card {
  border: 1px solid #949494;
  border-radius: 1rem;
}
.otp-form {
  font-family: "Oswald";
  font-weight: 700;
}
.checkbox-label {
  font-weight: 500;
}
.form-control {
  border-color: #949494 !important;
}
.otp-input {
  width: 2.8rem !important;
  height: 2.8rem !important;
  border-radius: 0.8rem !important;
  text-align: center;
  font-size: 1.3rem !important;
}
.form-check-input {
  width: 1.5em !important;
  height: 1.5em !important;
  margin-right: 0.3rem;
}
.form-check-input:checked {
  background-color: #34f664 !important;
  border-color: #34f664 !important;
}

/* upload-sec */
.upload-form-cont {
  width: 48%;
}
.upload-sec {
  border: 1px dashed gray;
}
.note-text {
  font-size: 0.9rem !important;
}
.makers-section {
  margin-top: 2rem;
}
/* assosciation-card */
.assosciation-card {
  background-color: #e3f5ff !important;
}
.card-title {
  font-size: 1rem !important;
  font-weight: 700 !important;
}
.card-subtitle {
  font-size: 0.8rem !important;
  font-weight: 400 !important;
  color: #000 !important;
}
.prize-title {
  font-size: 1.6rem;
  font-family: "Oswald";
}
.profileImg {
  max-width: 100%;
}
.winner-name {
  font-size: 1rem;
  white-space: nowrap;
}
img.flag {
  max-width: 100%;
}
img.avatar {
  width: 2rem;
}
.brand-link {
  color: #a7a7a7;
  text-decoration: none;
  transition: all 0.3s;
  font-weight: 500;
}
.brand-link:hover {
  color: #2d318f;
}
.hetero-brand-logo {
  width: 10rem;
}
.brand-page {
  font-size: 1.2rem !important;
  color: #2d318f !important;
  border-bottom: 2px solid #2d318f !important;
}
img.productImg {
  width: 86%;
}
@media (max-width: 768px) {
  .registration-input-field {
    width: 100% !important;
  }
  .registration-input {
    width: 100%;
  }
  .registration-panel {
    background-color: #2d318f;
    padding: 8rem 3rem;
  }
  .makers-section {
    margin-top: 4rem;
  }
  .otp-card {
    width: 100%;
  }
  .otp-input {
    width: 2.4rem !important;
    height: 2.4rem !important;
  }
  .registration-cont {
    width: 90%;
  }
  .banner-logo {
    margin-bottom: 1rem;
  }
}
@media (max-width: 768px) {
  .essay-topic1,
  .essay-topic4 {
    width: 100% !important;
  }
  .essay-topic2,
  .essay-topic3 {
    width: 100% !important;
  }
  img.makers-logo {
    margin: 1rem 0;
  }
  /* STACK SECTIONS */

  /* LOGO */
  .brand-logo {
    position: static;
    width: 60px;
  }
  .winner-graph {
    min-height: auto !important;
    min-width: 10rem !important;
    margin: 1rem 0;
  }

  /* CONTENT */
  .banner-content {
    max-width: 100%;
  }

  /* TITLE */
  .banner-title {
    font-size: 1rem;
    line-height: 1.6;
  }

  /* PILL */
  .banner-pill {
    font-size: 0.9rem;
    padding: 5px 16px;
  }

  /* FORM STACK */
  .form-row {
    flex-direction: column;
    gap: 12px;
  }

  .email-input {
    width: 100%;
  }

  .register-btn {
    width: 100%;
    padding: 12px;
  }

  .input-field {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  .banner-sec {
    display: flex;
    flex-direction: column !important;
  }
  /* parent wrapper */
  .banner-wrapper {
    display: flex;
    flex-direction: column;
  }

  /* LEFT SECTION (TOP) */
  .left-sec {
    flex: 0 0 100%;
    width: 100%;
    padding: 2rem 1.5rem;
    margin-top: 0;
    overflow: hidden;
    position: relative;
  }

  .left-sec::before {
    background-size: cover;
    background-position: center;
  }

  /* RIGHT SECTION (BOTTOM) */
  .right-sec {
    flex: 0 0 100%;
    width: 100%;
    min-height: 90vh;
    overflow: hidden;
    position: relative;
  }

  .right-sec::before {
    background-size: cover;
  }
  .deadline-card {
    bottom: 14px !important;
    left: 30px !important;
  }
}
